# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/build/

# iOS / macOS
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log
